.main {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.full-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#insights {
  position: absolute;
  left: 0%;
  bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}