.main {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.full-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#testpallete {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}